<!doctype html>
<html>
  <head>
    <title><%=page_title%></title>
    <%=css layout%>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
    <meta charset="UTF-8">
    <%- ie_scripts -%>
  </head>
  <body data-lang="<%= @lang_code %>" id="top" class="
    <%= 'is-ipad' if browser.ipad? %>
    <%= 'is-mobile' if @is_mobile %>
    ">

    <div id="page">
      <%=yield%>
    </div>

    <!--<div id="loading">                                        -->
    <!--  <i class="icon-spinner icon-spin icon-2x pull-left"></i>-->
    <!--</div>                                                    -->

    <%=js layout %>
  </body>
</html>
