body {
  overflow-x: auto;
}
@media only screen and (max-width : 1000px) {
  body {
    width: 1000px;
  }
}
.layout-wrap {
  width: 1000px !important;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  display: inline-block;
}
.col-md-1 {
  width: 8.2% !important;
}
.col-md-2 {
  width: 16.5% !important;
}
.col-md-3 {
  width: 24.9% !important;
}
.col-md-4 {
  width: 33.2% !important;
}
.col-md-5 {
  width: 41.5% !important;
}
.col-md-6 {
  width: 49.9% !important;
}
.col-md-7 {
  width: 58.2% !important;
}
.col-md-8 {
  width: 66.5% !important;
}
.col-md-9 {
  width: 74.9% !important;
}
.col-md-10 {
  width: 83.2% !important;
}
.col-md-11 {
  width: 91.5% !important;
}
.col-md-12 {
  width: 99.9% !important;
}
.hidden-xs,
.hidden-sm {
  display: block !important;
}
.visible-xs,
.visible-sm {
  display: none !important;
}

