* {
  @include box-sizing(border-box);
  opacity: 1; padding: 0; margin: 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: arial, sans-serif;
  font-weight: normal;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #543222;
}

.layout-wrap {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px;
}

div.board {
  position: absolute;
  bottom: 10px;
  background-color: #543222;
  left: 0;
  right: 0;
}

div.row {
  margin: 0;
}

div.slot {
  display: inline-block;
  border: 1px solid transparent;
  width: 16.666667%;
  background-size: 100%;
  &[type='0'] { background-image: url('/images/dusk/0.png'); }
  &[type='1'] { background-image: url('/images/dusk/1.png'); }
  &[type='2'] { background-image: url('/images/dusk/2.png'); }
  &[type='3'] { background-image: url('/images/dusk/3.png'); }
  &[type='4'] { background-image: url('/images/dusk/4.png'); }
  &[type='5'] { background-image: url('/images/dusk/5.png'); }
  &[type='6'] { background-image: url('/images/dusk/6.png'); }
  &[type='7'] { background-image: url('/images/dusk/7.png'); }
  &.current {
    opacity: 0.1;
  }
}

div.status {
  text-align: center;
  padding: 40px 0;
  height: 185px;
  background-color: white;
  .steps-wrap {
    padding-bottom: 10px;
  }
  #f_steps {
    font-size: 36px;
  }
}

#pointer {
  position: fixed;
  opacity: 0.5;
}
