<div class="status">
  <div class="steps-wrap">
    Waiting for device
  </div>
  <form action="/cancel" method="post">
    <input type="hidden" name="roomid" value="<%= @roomid %>">
    <a href="javascript:void(0)" id="reset-btn"
      class="btn btn-lg btn-info btn-submit">
      Cancel
    </a>
  </form>
</div>

