<div class="status">
  <div class="steps-wrap">
    <span id="f_steps">0</span> Steps
    <div class="result hidden">
      <span id="f_combo">0</span> Combo
      <span id="f_color">0</span> Colors
    </div>
  </div>
  <div class="result hidden">
    <a href="javascript:void(0)" id="reset-btn" class="btn btn-lg btn-info">
      Reset
    </a>
    <a href="javascript:void(0)" id="apply-btn" class="btn btn-lg btn-info">
      Apply
    </a>
  </div>
</div>

<div class="board">
  <%- 5.times { |i| -%>
    <div class="row">
      <%- 6.times { |k| -%>
        <div class="slot real col-lg-2 col-md-2 col-sm-2 col-xs-2"
          type="<%= @room['board'][i][k] %>"
          data-row="<%= i %>"
          data-col="<%= k %>"
          >
        </div>
      <%- } -%>
    </div>
  <%- } -%>
</div>
<div class="slot hidden" id="pointer" type="-1">
</div>

<form action="/apply" id="apply-form" method="post">
  <input type="hidden" name="path" value="" id="path-input">
  <input type="hidden" name="roomid" value="<%= @roomid %>">
</form>
