<%- if @board -%>
  <%- nc = @type == '7x6' ? 7 : 6 -%>
  <%- if params[:d] # turn this on to tune the color recognition (hue) -%>
    <table class="table" style="background-color: white;">
      <tbody>
        <%- @board.each_slice(nc).each_with_index { |slice, i| -%>
          <tr>
            <%- slice.each_with_index { |tile, k| -%>
              <td style="background-color: rgb(<%= @board_rgb[i * nc + k].join(', ') %>)">
                HSL <%= @board_hsl[i * nc + k].join(', ') %>
                <br />
                RGB <%= @board_rgb[i * nc + k].join(', ') %>
                <br />
                <div class="slot real"
                  type="<%= tile %>"
                  style="height: 30px"
                  >
                </div>
              </td>
            <%- } -%>
          </tr>
        <%- } -%>
      </tbody>
    </table>
  <%- else -%>

    <div class="status">
      <div class="steps-wrap">
        <span id="f_steps">0</span> Steps (<100)
        <div class="result">
          <span id="f_combo">0</span> C,
          <%- colors = @board.group_by { |b| b }.values.count { |i| i.length >= 3 } -%>
          <span id="f_color">0</span>/<%= colors %> Colors
        </div>
      </div>
      <a href=""></a>
      <div>
        <div class="result hidden" style="display: inline-block">
          <a href="javascript:void(0)" id="reset-btn" class="btn btn-lg btn-info">
            <i class="fa fa-refresh"></i>
          </a>
          <a href="javascript:void(0)" id="apply-btn" class="btn btn-lg btn-info">
            <i class="fa fa-play"></i>
          </a>
        </div>
        <%- if @type != '7x6' -%>
          <a href="javascript:void(0)" id="apply-btn-auto" class="btn btn-lg btn-info">
            <i class="fa fa-cogs"></i>
          </a>
        <%- end -%>
      </div>
    </div>

    <div class="board" data-type="<%= @type %>">
      <%- @board.each_slice(nc).each_with_index { |slice, i| -%>
        <div class="row">
          <%- slice.each_with_index { |tile, k| -%>
            <div class="slot real col-lg-2 col-md-2 col-sm-2 col-xs-2"
              type="<%= tile %>"
              data-row="<%= i %>"
              data-col="<%= k %>"
              >
            </div>
          <%- } -%>
        </div>
      <%- } -%>
    </div>
    <div class="slot hidden" id="pointer" type="-1">
    </div>

    <form action="/apply-<%= @type %>" id="apply-form" method="post">
      <input type="hidden" name="path" value="" id="path-input">
    </form>
  <%- end -%>

<%- else -%>
  <%- if params['auto'] -%>
    <a href="/" style="text-align:center; display: inline-block; width: 100%;
      margin-top: 150px;"
      class="btn btn-default">
      <i class="fa fa-stop"></i>
      Stop Auto Trigger</a>

    <form action="/apply-6x5" id="apply-form" method="post">
      <input type="hidden" name="path" value="auto">
      <button style="text-align:center; display: inline-block; width: 100%;
        margin-top: 20px;"
        data-auto-click-in="<%= params.fetch('in', 19) %>"
        class="btn btn-default">
        <i class="fa fa-cogs"></i>
        AUTO 6x5
        (Trigger in <span id="sec"><%= params.fetch('in', 19) %></span>s)
      </button>
    </form>

  <%- else -%>
    <a href="/board6x5" style="text-align:center; display: inline-block; width: 100%;
      margin-top: 100px;"
      class="btn btn-default">
      <i class="fa fa-play"></i>
      START 6x5</a>

    <a href="/?auto=1&in=3" style="text-align:center; display: inline-block; width: 100%;
      margin-top: 20px;"
      class="btn btn-default">
      <i class="fa fa-cogs"></i>
      AUTO 6x5</a>
  <%- end -%>



  <%- unless params['auto'] -%>
    <a href="/board7x6" style="text-align:center; display: inline-block; width: 100%;
      margin-top: 100px;"
      class="btn btn-default">
      <i class="fa fa-play"></i>
      START 7x6</a>

    <form action="/deploy-agents" method="post">
      <button style="text-align:center; display: inline-block; width: 100%;
        margin-top: 100px;"
        class="btn btn-default">
        <i class="fa fa-file"></i>
        Deploy Agents
      </button>
    </form>

  <%- end -%>
<%- end -%>
